h1 {
  margin:0;
}

img {
  max-width: 100%;
}

.byline {
  color: grey;
  line-height: 3em;
}

.byline * {
  display: inline;
}

.byline a {
  font-size: 100%;
  font-weight: bolder;
}

.site-header  {
  background-color:khaki;
  padding: 1.5em;
}

.icon-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 300%;
}

.icon-menu:hover + ul {
  display: inline;
}

nav ul li {
  display: block;
  padding: 12px;
  border-bottom: 1.5px solid #AAAAAA;
}

nav ul {
  display: none;
  list-style-type: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    visibility: hidden;
  }
  nav ul {
    display: block;

  }
  nav ul li {
    display: inline;
    border-bottom: none;
  }
}
