


img {
  max-width: 100%;
}

.icon-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 300%;
}

nav ul {
  display: none;
}

.icon-menu:hover + ul {
  display: inline;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    visibility: hidden;
  }
  nav ul {
    list-style-type: none;
    display: inline-block;
  }
  nav li {
    display: inline;
  }
}
